gradio==3.29.0
torch
torchvision
torchaudio
torchtext
torchdata
astunparse
blendmodes
accelerate
basicsr
fonts
font-roboto
gfpgan
numpy
omegaconf
opencv-contrib-python
requests
piexif
Pillow
pytorch_lightning
realesrgan
scikit-image
timm
transformers
xformers
einops
jsonmerge
clean-fid
resize-right
torchdiffeq
kornia
lark
inflection
GitPython
torchsde
safetensors
psutil
rich
httpx
ffmpeg
ffmpeg-python
